.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px 20px 20px 20px;

}

.navbar {
    border-bottom: 5px solid darkgrey;
}

.card-header {
    color: #4aaaa5;
    border-bottom: 5px solid darkgrey;
    background-color: white;
}

footer {
    background-color: #666666;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    color: white;
    border-top: 8px solid #4aaaa5;
    padding-top: 8px;
    margin-top: 50px;
}

.input-group {
    margin-bottom: 15px;
}

textarea {
    width: 980px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

body {
    background-image: url("greek-vase\ -\ Copy.png");
}

.card-body-p {
    color: white;
}

.card-text:last-child {
    background-color: #4aaaa5;
    text-align: center;
    padding: 15px;
}



.card {
    margin-bottom: 100px;
    padding-bottom: 50px;
    
}

.gitProfile {
    color: black;
}

#repo {
    color: black;
    font-size: 15px;
}

.card-text {
    background-color: #4aaaa5;
    text-align: center;
    padding: 15px;
}

